body{
    background-color:hsl(212, 45%, 89%);
    font-size:15px;
    font-family:"Outfit";
    text-align:center;
}
.card{
    width:24%;
    margin:0;
    background-color:hsl(0, 0%, 100%);
    border-radius:20px;
    padding:7px;
    box-shadow: 5px 5px 10px hsl(212, 45%, 89%);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -45%);
}
img{
    width:100%;
    border-radius:20px;
    border:1px solid hsl(212, 45%, 89%);
    
}
.card h2,.card p{
    padding:9px;
    color:black;
}
.card p{
    padding-top:0;
    color:hsl(220, 15%, 55%);
    font-weight: 400;
}
h2{
    font-weight: 700;

}

@media only screen and (max-width: 1000px) {
   .card{
    width:30%;
   }
  }

  @media only screen and (max-width: 935px) {
    .card{
     width:40%;
    }
   }
 
   @media only screen and (max-width: 768px) {
    .card{
     width:50%;
    }
   }

   @media only screen and (max-width: 625px) {
    .card{
     width:60%;
    }
   }

   @media only screen and (max-width: 520px) {
    .card{
     width:70%;
    }
   }

   @media only screen and (max-width: 450px) {
    .card{
     width:80%;
    }
   }

   @media only screen and (max-width: 450px) and (min-device-width:375px){
    .card{
     width:90%;
    }
   }